<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Reserve room '{{message}}'</h1>
    <h6>
        <a href="http://127.0.0.1:8000">HOME</a>&nbsp;
        <a href="http://127.0.0.1:8000/room/list">Rooms List</a>&nbsp;
        <a href="http://127.0.0.1:8000/room/new">Create New Room</a>&nbsp;
    </h6>
</header>

<main>
    <h3>
    <form method="POST">
        {%csrf_token%}
        <label>
            When do you need the room?<br>
            <input type="date" name="room_date" />
        </label><br>
        Comment<br>
        <input type="text" name="room_comment">


      <p><button>Submit</button></p>
      <h2>All Bookings for this room:</h2>
      <ol>
         {% for booking in booking_data%}
         {%if booking.2 >= today%}
         <li>{{booking.2|date:"d.m.Y"}}</li>
         {%endif%}
         {%endfor%}
      </ol>
    </form>
    </h3>

</main>
</body>
</html>
