<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>List of Available Rooms</h1>
    <h6>
        <a href="http://127.0.0.1:8000">HOME</a>&nbsp;
        <a href="http://127.0.0.1:8000/room/list">Rooms List</a>&nbsp;
        <a href="http://127.0.0.1:8000/room/new">Create New Room</a>&nbsp;
    </h6>
    {%for msg in messages%}
    {{msg}}
    {%endfor%}
    <h2>{{message}}</h2>

    <table>
        <tr>
            <th>Room Name</th>
            <th>Room Capacity</th>
            <th>Projector</th>
            <th>Is room available today?</th>
            <th>Reserve</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for room in rooms %}
            <tr>
                <td><a href="http://127.0.0.1:8000/room/show/{{room.0}}">{{room.1}}</a></td>
                <td>{{room.2}}</td>
                <td>
                    {% if room.3 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% with room_id=room.0 %}
                        {%if room_id in room_booking_dict%}
                            {%for key, val in room_booking_dict.items %}
                                {%if key == room_id%}
                                    {%if today in val%}
                                    No
                                    {%else%}
                                    Yes
                                    {%endif%}
                                {%endif%}
                            {%endfor%}
                        {%else%}
                        Yes
                        {%endif%}
                    {% endwith %}
                </td>
                <td><button onclick="location.href='http://127.0.0.1:8000/room/reserve/{{room.0}}'">Reserve</button></td>
                <td><button onclick="location.href='http://127.0.0.1:8000/room/modify/{{room.0}}'">Edit</button></td>
                <td><button onclick="location.href='http://127.0.0.1:8000/room/delete/{{room.0}}'">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>